*{
    box-sizing: border-box;
}
.fav-musicians{
    border: 10px solid green;
}
.mozart{
    width: 25%;
    background-color: lightgoldenrodyellow;
    float: left;
    padding: 20px;
}
.beethoven{
    width: 25%;
    float: right;
    background-color: lightsalmon;
    padding: 20px;
}
.bach{
    width: 25%;
    float: left;
    background-color: lightcyan;
    padding: 20px;
}
.paganini{
    width: 25%;
    float: left;
    background-color: lightseagreen;
    padding: 20px;
}
.fav-musicians::after{
    content: "";
    display: block;
    clear: both;
}
